/* GET STARTED */
.started{
    background-color: var(--third-color);
}

.pre-footer{
    width: 100%;
    text-align: center;
}

@media screen and (min-width:768px) {
    .pre-footer{
        max-width: 34.75rem;
        margin: auto;
    }
}

@media screen and (min-width:992px) {
    .pre-footer{
        max-width: 35rem;
        margin: auto;
    }
}