.p-h3{
    padding: 1.5625rem 0;
    font-weight: bold;
}

.p-h2{
    padding: 2.8125rem 0;
}

.italic{
    font-style: italic;
}

@media screen and (min-width:992px) {
    p{
        font-size: .875rem;
    }
}